/*

This stylesheet applies to the side menu on subpages. The side menu is only visible on desktop.

*/
#menu-sidebar-menu.menu {
  max-width: 275px;
  display: block;
  margin: 0 auto;

  .menu-item {
    border-bottom: 1px solid $medium-grey3;
    margin-bottom: 0;

    &::before {
      display: none;
    }

    &:first-child {
      border-top: 1px solid $medium-grey3;
    }

    a {
      color: $default-state;
      display: block;
      padding: 12px 16px;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        background-color: $hover-state;
        color: $white;
      }

      &:focus {
        outline: 1px dotted $focus-state;
        outline-offset: -4px;
      }

      &:active {
        background-color: $active-state;
        color: $white;
        outline: none;
      }
    }

    .current-page {
      border-left: 4px solid $ucla-gold;
    }

    .has-child--button {
      display: none;
    }
  }

  // side menu items with SECOND LEVEL subpages
  .sub-menu {
    margin-top: 0;
    padding-inline-start: 0;

    .menu-item {
      background-color: $grey-5;

      a {
        padding-left: 32px;
      }

      &:last-child {
        border: 0 !important;
      }
    }

    // side menu items with THIRD LEVEL subpages
    .sub-menu {
      .menu-item {
        background-color: #E0E0E0;

        a {
          padding-left: 48px;
        }

        &:last-child {
          border: 0 !important;
        }
      }
    }
  }
}
